.titletext {
    color: #111;
    font-size: 2em;
    font-weight: 400;
}

.titletext span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.title {
    text-align: center;
    margin-top: 3rem;
}
.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 1rem;
    /* border: 1px solid red; */
    /* border-radius: 1rem; */
    margin: 0px 2rem;
}

.menu .content .box {
    width: 25rem;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 400;
    color: #111;
}
.box .recipeName{
    background: #d0ebe7;
    
    font-size: 1.8rem;
    text-align: center;
    padding:1rem 1rem;
    font-weight: 800;
    color: #000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}