

header {
    position: sticky;
    
    width: 100%;
    top: 0px;
    z-index: 11;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    /* transition: 0.5s; */
    background: rgb(79, 76, 76);
    
    padding: 1.5rem 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
}

.sticky .logo {
    color: #111;
}

header .logo span {
    color: #ff0157;
}

header .navigation {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;

}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.8rem;
    transition: 0.5s;
}

.sticky .navigation li a {
    color: black;
}

header .navigation li a:hover {
    color: #bebdbd;
}

header .navigation li input{
    width: 100%;
  
  border: none;
  background: #f7f7f7;
  outline: none;
}